<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            @Html.ActionLink("Vidly", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
